@using core_web.Helpers

@{
	Layout = null;
}

<nav class="navbar navbar-expand navbar-light navbar-bg">
	<div class="d-flex align-items-center">
		<a class="sidebar-toggle js-sidebar-toggle ms-2">
			<i class="hamburger align-self-center"></i>
		</a>
		<div class="ms-3 d-flex align-items-center gap-2 gap-md-4">
			<div class="brand-text d-flex align-items-center" style="gap: 8px;">
				<img src="@Url.Content("~/theme/v1/img/photos/name1.png")" alt="Sensei Japanese Center" class="brand-name-img header-logo-res" />
				<img src="@Url.Content("~/theme/v1/img/photos/name.png")" alt="Name" class="brand-name-img header-logo-res d-none d-sm-block" />
			</div>
			<span class="admin-badge d-none d-md-inline-block ms-1">Admin Console</span>
		</div>
	</div>

	<div class="navbar-collapse collapse">
		<ul class="navbar-nav navbar-align">

			<!-- notification -->
			@Html.RenderAction("AdminPortalNotification", "Layout", new { area = "" })

			<!-- message -->
			@* @Html.RenderAction("AdminPortalMessages", "Layout", new { area = "" }) *@


			<!-- profile -->
			@Html.RenderAction("AdminPortalProfile", "Layout", new { area = "" })

		</ul>
	</div>
</nav>