﻿@using SENSEI.DOMAIN
@using core_web.Helpers
@model StudentRegistration

@{
    ViewData["Title"] = "Student Registration";
}

<div class="container-fluid p-0">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="h3 mb-0">Student Registration</h1>

        <button type="button" class="btn btn-primary" id="btnNewStudentRegister" data-action-url="/AdminPortal/StudentRegistration/Create">
            <i class="fas fa-plus"></i> New
        </button>

    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Search By</h5>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xm-12">
                            <div class="mb-3" id="search-course-wrapper">
                                <label class="form-label">@Html.DisplayNameFor(m => m.CourseId)</label>
                                <select id="SearchCourseId" class="form-control search-course-select" name="SearchCourseId"></select>
                                @* <span asp-validation-for="CourseId" class="text-danger"></span> *@
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">List of Student Registrations</h5>
                </div>
                <div class="card-body">

                    <div id="StudentRegistrationTableContent" class="table-responsive">

                        <table id="StudentRegistrationDataTable" class="table table-hover align-middle mb-0 w-100">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@Html.DisplayNameFor(m => m.CourseId)</th>
                                    <th>@Html.DisplayNameFor(m => m.StudentLearningMode.LearningModeName)</th>
                                    <th>@Html.DisplayNameFor(m => m.StudentRegistrationPopulatedName)</th>
                                    <th>@Html.DisplayNameFor(m => m.Email)</th>
                                    <th>@Html.DisplayNameFor(m => m.PhoneNo)</th>
                                    <th>@Html.DisplayNameFor(m => m.CreatedDateTime)</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@Html.RenderAction("StudentRegistrationOffCanvas", "StudentRegistration", new { area = "AdminPortal" })

@section Scripts {

    <script src="~/js/admin-portal/studentregistration-function.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#SearchCourseId').change(function () {
                var courseId = $(this).val();

                console.log(courseId);

                loadStudentRegistrations();
            });


            $.getJSON('/AdminPortal/StudentRegistration/GetCourseListJsonResult', function (data) {

                $('#SearchCourseId').empty();
                $('#SearchCourseId').append('<option value="0">All Courses</option>')

                loadSelectBox({
                    data: data,
                    className: 'search-course-select',
                    title: 'Select Course'
                });

                var courseId = $('#SearchCourseId').val();

                if (courseId) {
                    $('#SearchCourseId').val(courseId).trigger('change');
                }
            });

            $('#btnNewStudentRegister').on('click', function () {
                var url = $(this).data('action-url');
                window.location.href = url;
            });

            loadStudentRegistrations();

        });

        function loadStudentRegistrations() {

            if ($.fn.DataTable.isDataTable('#StudentRegistrationDataTable')) {
                $('#StudentRegistrationDataTable').DataTable().clear().destroy();
                $('#StudentRegistrationDataTable tbody').empty();
            }

            $('#StudentRegistrationDataTable').DataTable({
                processing: true,
                serverSide: true,
                autoWidth: false,
                lengthMenu: [10, 20, 50, 100],
                columnDefs: [
                    { targets: 0, className: 'noVis' },
                    { width: 25, targets: 0, orderable: false },
                ],
                dom:
                    "<'row mb-3'<'col-sm-6'l><'col-sm-6 text-end'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row mt-3'<'col-sm-5'i><'col-sm-7'p>>",
                ajax: {
                    url: '/AdminPortal/StudentRegistration/ListOfStudentRegistrations',
                    type: 'POST',
                    data: function (d) {
                        d.courseId = $('#SearchCourseId').val() || 0;
                    }
                },
                columns: [
                    {
                        data: null,
                        orderable: false,
                        searchable: false,
                        width: "25px",
                        className: "text-end",
                        render: function (data, type, row) {

                            var approveUrl = `/AdminPortal/StudentRegistration/Approve/?q=${row.encryptedKey}`;
                            var rejectUrl = `/AdminPortal/StudentRegistration/Reject/?q=${row.encryptedKey}`;

                            var approveBtn = `<li><a class="dropdown-item d-flex align-items-center gap-2 approve-registration" href="javascript:void(0)" data-action-url="${approveUrl}"> <i data-feather="check-circle"></i><span>Approve</span></a></li>`;
                            var rejectBtn = `<li><a class="dropdown-item d-flex align-items-center gap-2 text-danger reject-registration" href="javascript:void(0)" data-action-url="${rejectUrl}" data-action-parameter="${row.studentRegistrationPopulatedName}"><i data-feather="x-circle"></i><span>Reject</span></a></li>`;

                            return `
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-light p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i data-feather="more-vertical"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-menu-end">
                                        ${approveBtn}
                                        ${rejectBtn}
                                    </ul>
                                </div>

                            `;
                        }
                    },
                    { data: 'course.courseName', name:'course.courseName' },
                    { data: 'studentLearningMode.learningModeName', name:'studentLearningMode.learningModeName' },
                    { data: 'studentRegistrationPopulatedName', name:'studentRegistrationPopulatedName' },
                    { data: 'email', name:'email' },
                    { data: 'phoneNo', name:'phoneNo' },
                    { data: 'createdDateTime', name:'createdDateTime', render: function (data) { return renderDateOnly(data); } }

                ],
                drawCallback: function () {

                    if (window.feather) {
                        feather.replace();
                    }

                    approveButton();
                    //rejectButton();
                }
            });

        }

        function renderDateOnly(data) {
            if (!data) return '';

            return data.split('T')[0];
        }


    </script>

}
