﻿@using SENSEI.DOMAIN
@model StudentRegistration

@{
    Layout = null;
}



<div class="offcanvas-header">
    <h5 class="offcanvas-title">Reject</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
</div>

<div class="offcanvas-body">

    <form id="studentRegistration-Reject-create-form" asp-area="AdminPortal" asp-controller="StudentRegistration" asp-action="Reject"
          data-ajax="true" data-ajax-method="POST"
          data-ajax-begin="onRejectCreateBegin" data-ajax-success="onRejectCreateSuccess" data-ajax-failure="onRejectCreateFailure" data-ajax-complete="onRejectCreateComplete">


        @Html.HiddenFor(m => m.StudentRegistrationId)
        @Html.HiddenFor(m => m.CourseId)

        <div class="mb-3">
            <label class="form-label">@Html.DisplayNameFor(m => m.CourseId)</label>
            <input id="CourseId" class="form-control course-select" value="@Model.Course.CourseName" readonly />
        </div>

        <div class="mb-3">
            <label class="form-label">@Html.DisplayNameFor(m => m.StudentLearningModeId)</label>
            <input class="form-control" value="@Model.StudentLearningMode.LearningModeName" readonly />
        </div>

        <div class="mb-3">
            <label class="form-label">@Html.DisplayNameFor(m => m.StudentRegistrationPopulatedName)</label>
            <input class="form-control" value="@Model.StudentRegistrationPopulatedName" readonly />
        </div>

        <div class="mb-3">
            <label class="form-label">@Html.DisplayNameFor(m => m.Email)</label>
            <input class="form-control" value="@Model.Email" readonly />
        </div>

        <div class="mb-3">
            <label class="form-label">@Html.DisplayNameFor(m => m.PhoneNo)</label>
            <input class="form-control" value="@Model.PhoneNo" readonly />
        </div>

        <div class="mb-3">
            <label class="form-label">@Html.DisplayNameFor(m => m.CreatedDateTime)</label>
            <input class="form-control" value="@Model.CreatedDateTime.ToString("yyyy-MM-dd")" readonly />
        </div>

        <div class="mb-3">
            <label class="form-label">Rejection Comment</label>
            @Html.TextBoxFor(m => m.RejectionComment, new { @class = "form-control", placeholder = "Reject Comment" })
        </div>

        <div class="d-flex justify-content-end gap-2">

            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">
                Cancel
            </button>

            <button type="submit" id="btnReject" class="btn btn-danger ladda-button" data-style="zoom-in">
                <span class="ladda-label">Reject</span>
            </button>

        </div>

    </form>

</div>
