@using SENSEI.DOMAIN
@model IEnumerable<BatchLesson>
@{
    Layout = null;
    var studentIdStr = Context.Session.GetString("StudentId") ?? "0";
    long studentId = Convert.ToInt64(studentIdStr);
}

@{
    if(Model != null && Model.Any())
    {
        foreach(var batchLesson in Model)
        {

            if (batchLesson.BatchStudentLessonAccesses.Any(e => e.StudentId == studentId && e.BatchLessonId == batchLesson.BatchLessonId && e.HasAccess))
            {
                <div class="col-12 col-md-6 col-xl-4 mb-4">
                    <div class="card lesson-card">
                        <div class="lesson-image-wrapper">
                            <img src="~/theme/v1/img/photos/unsplash-1.jpg" alt="@batchLesson.Description" class="lesson-image">
                            <span class="lesson-badge">@batchLesson.Lesson.LessonName</span>
                        </div>
                        <div class="lesson-content">
                            <h3 class="lesson-title">@batchLesson.Description</h3>
                           
                            <div class="lesson-footer">
                                <a href="@Url.Action("LessonDetail", "MyLearning", new { q = batchLesson.EncryptedKey })" class="btn btn-primary btn-continue">Go to Lesson <i class="align-middle ms-1" data-feather="arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-12 col-md-6 col-xl-4 mb-4" style="opacity:0.5; filter:grayscale(40%);">
                    <div class="card lesson-card">
                        <div class="lesson-image-wrapper">
                            <img src="~/theme/v1/img/photos/unsplash-1.jpg" alt="@batchLesson.Description" class="lesson-image">
                            <span class="lesson-badge">@batchLesson.Lesson.LessonName</span>
                        </div>
                        <div class="lesson-content">
                            <h3 class="lesson-title">@batchLesson.Description</h3>

                            <div class="lesson-footer">
                                <a href="@Url.Action("LessonDetail", "MyLearning", new { q = batchLesson.EncryptedKey })" class="btn btn-primary btn-continue">Go to Lesson <i class="align-middle ms-1" data-feather="arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            
        }
    }
}