@using core_web.Helpers
@using System.Text.Json

@{
    var notificationsJson = TempData["Notifications"] as string;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="~/theme/v1/img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/pages-blank.html" />

	<title>SENSEI | @ViewData["Title"]</title>

	<link href="~/theme/v1/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>

<body>
	<div class="wrapper">
		
		<!-- sidebar -->
		@Html.RenderAction("AdminSidebar", "Layout", new { area = "" })

		<div class="main">
			
			<!-- header -->
			@Html.RenderAction("AdminPortalHeader", "Layout", new { area = "" })

			<!-- body -->
			<main class="content">

				@RenderBody()

			</main>

			<!-- footer -->
			@Html.RenderAction("AdminPortalFooter", "Layout", new { area = "" })

		</div>
	</div>

	<script src="~/theme/v1/js/app.js"></script>
	<script src="~/lib/feather/feather.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>

	<script>

		window.notyf = new Notyf({
			types: [
				{
					type: 'info',
					background: '#0dcaf0'
				},
				{
					type: 'warning',
					background: '#ffc107'
				}
			]
		});

		document.addEventListener("DOMContentLoaded", function () {
			if (window.feather) {
				feather.replace();
			}
		});

		document.addEventListener("DOMContentLoaded", function () {

			const notificationsJson = @Html.Raw(notificationsJson != null ? notificationsJson : "null");

			if (!notificationsJson || notificationsJson.length === 0) return;

			notificationsJson.forEach(n => {
				window.notyf.open({
					type: n.Type.toLowerCase(), // Notyf expects lowercase
					message: n.Message,
					duration: n.Duration,
					dismissible: n.Dismissible,
					position: {
						x: n.PositionX,
						y: n.PositionY
					}
				});
			});
		});

	</script>

	@await RenderSectionAsync("Scripts", required: false)

</body>

</html>